
*{
    font-family: Helvetica, sans-serif;
    list-style: none;
    margin: 0px;
    text-decoration: none;
}

/* Heading and Navigation  */

header {
    font-variant: small-caps;
}
header ul {
    display: flex;
    justify-content: space-between;
    background-color: #ffed87;
    padding: 2%;
}
header a {
    color: black;
    font-weight: bold;
}
header a:hover {
    color: hotpink;
}
h1 {
    font-size: 400%;
    display: flex;
    justify-content:center;
    padding: 8%;
    background-image: url("./images/colorlights.jpg");
    background-size:cover;
    background-color: #ffe37f;
}

/* About Me Section */

 #about-me  {
    display: flex;
    justify-content: space-between;
    padding: 4%;
}

#avatar {
    width:25%;
}

/* Work Section */

.card {
    display: flex;
    flex-direction: row;  
}

.card img {
    width: 25%;
}