
*{
    font-family: Helvetica, sans-serif;
}

/* Heading and Navigation  */

h1 {
    display: flex;
    justify-content:center;
    padding: 100px;
    background-color: aquamarine;
}
ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-bottom: 15%;
}

/* About Me Section */

 #about-me  {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15%;
}

#avatar {
    width:25%;
}

/* Work Section */

.card {
    display: flex;
    flex-direction: row;  
}

.card img {
    width: 25%;
}